@tailwind base;
@tailwind components;
@tailwind utilities;

.logoIcon__bookmarkInner, 
.logoIcon__textPath, 
circle{
  transition: fill 0.5s ease;
}
.logoIcon__textPath.active,
circle.active{
  fill: var(--white);
}
.logoIcon__bookmarkInner.active{
  fill: var(--blue-950);
}

@media(max-width: 767px){
  nav{
    background-color: hsla(var(--blue-950-b), 0.85);
    transition: max-width 0.5s ease;
  }
  nav ul{
    margin-top: min(5rem, 30vw);
  }
  nav.active{
    max-width: 768px;
  }
}