@tailwind base;
@tailwind components;
@tailwind utilities;

.logoIcon__bookmarkInner, 
.logoIcon__textPath, 
circle{
  transition: fill 0.5s ease;
}
.logoIcon__textPath.active,
circle.active{
  fill: var(--white);
}
.logoIcon__bookmarkInner.active{
  fill: var(--blue-950);
}

@media(max-width: 767px){
  .header__topNav{
    background-color: hsla(var(--blue-950-b), 0.85);
    transform: translateX(-100%);
    transition: transform 0.5s ease;
  }
  .header__topNav ul{
    margin-top: min(5rem, 16vw);
  }
  .header__topNav.active{
    transform: translateX(0);
  }
}