@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  font-size: 18px;
  font-family: "Rubik", sans-serif;

  --fw-400: 400;
  --fw-500: 500;

  --blue-600: hsl(231, 69%, 60%);
  --red-400: hsl(0, 94%, 66%); 
  --white: hsl(0, 100%, 100%);

  --blue-950: hsl(229, 31%, 21%);
  --blue-950-b: 229, 31%, 21%;
  --grey-50: hsl(0, 0%, 97%);

  --mobile-spacer: max(275px, 90vw);
  --spacer: 1000px;

  --desktop-padding: min(10vw, 8rem);
}
img, svg{
  width: 100%;
  height: auto;

  object-fit: cover;
}

.heroImg__customShape{
  border-bottom-left-radius: 100px;
}

.group.active > .main__featureHighlight{
  width: 50%;
}
@media(min-width: 768px){
  .group.active > .main__featureHighlight{
    width: 100%;
  }
}

.slide-in{
  opacity: 1 !important;
  transform: translateX(0) !important;
}
.featureTabs__tabContainers{
  opacity: 0;
  transform: translateX(100%);
}

.FAQ__arrowSVG{
  stroke: #5267DF;
  transition: stroke .35s ease, transform .35s ease;
}
.faqGroup.active .FAQ__arrowSVG{
  stroke: var(--red-400);
  transform: rotate(180deg);
}
.FAQ__text{
  transition: max-height 0.5s ease-in-out;
}
.faqGroup.active .FAQ__text{
  max-height: 1000px;
}