@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  font-size: 18px;
  font-family: "Rubik", sans-serif;

  --fw-400: 400;
  --fw-500: 500;

  --blue-600: hsl(231, 69%, 60%);
  --red-400: hsl(0, 94%, 66%); 
  --white: hsl(0, 100%, 100%);

  --blue-950: hsl(229, 31%, 21%);
  --blue-950-b: 229, 31%, 21%;
  --grey-50: hsl(0, 0%, 97%);

  --desktop-padding: min(10vw, 8rem);
}
img, svg{
  width: 100%;
  height: auto;

  object-fit: fill;
}

.heroImg__customShape{
  border-bottom-left-radius: 100px;
}